html{
    background-color:lightsteelblue;
}

body {
    background-color: lightblue;
    margin:40px;
}


h1{
    background-color:black;
    color:white;
}

h2{
    border-bottom: 3px solid red;
    text-align:center;
    padding:10px 10px 10px 10px;
}

.japanese{
    color:red;
    
}

#books{
    text-decoration:underline;
}

img {
    border: 2px solid black

}

footer{
    background-color:black;
    color:white;
}
